body {
    background-color: #f2f2f2;
}

input[type=submit] {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-bottom: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    padding: 14px 20px;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    input[type=submit] {
        font-size: 1em;
    }
}

.enabled-submit {
    color: white;
    background-color: #01426a;
    border: none;
    cursor: pointer;
}

.disabled-submit {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.text-center {
    text-align: center;
}

table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 900px;
    width: 75%;
}

.table-hidden {
    display: none;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

td {
    background-color: #fff;
}

td,
th {
    font-size: 1.65em;
}

@media only screen and (max-width: 768px) {
    td,
    th {
        font-size: 1.15em;
    }
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #01426a;
    color: white;
}

img {
    width: 24%;
    margin: 100px 38%;
}